<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="css/bootstrap.min.css" rel="stylesheet">
  <title>Title</title>
</head>
<body>
<table class="table table-striped">
  <thead>
  <tr>
    <th>번호</th>
    <th>제목</th>
    <th>작성일</th>
    <th>댓글수</th>
    <th>조회수</th>
    <th>추천</th>
  </tr>
  </thead>
    <tbody>
    <tr th:each="myBoard: ${myBoardList}">
      <td th:text="${myBoard.id}"></td>
      <td><a th:href="@{/boards/{boardId} (boardId=${myBoard.id})}" th:text="${myBoard.title}" class="image-title">제목</a></td>
      <td th:text="${#temporals.format(myBoard.date , 'yyyy-MM-dd HH:mm:ss')}"></td>
      <td th:text="${myBoard.totalComments}"></td>
      <td th:text="${myBoard.countVisit}"></td>
      <td th:text="${myBoard.postLike}"></td>
    </tr>
    </tbody>
</table>


</body>
</html>