<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>

    body {
      display: flex;
      flex-direction: column;
      align-items: center;


    }

    .field-error {
      border-color: #e0707b;
      color: #dc3545;
    }

    .parent-name {
      color: #6c757d;
    }

    li, ul {
      list-style: none;
    }

    .boardRecommend {
      display: flex;
      justify-content: center;

    }

    .contentContainer {
      width: 500px;
      height: 350px;

    }

  </style>


  <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous">
  </script>

</head>
<body>
<article>
  <div>
    <h3 th:text="${board.title}" class="title">글제목</h3>
    <div class="fl">
      <span th:text="${board.nickName}">작성자</span>
      <span th:text="${#temporals.format(board.createDate , 'yyyy-MM-dd HH:mm:ss')}">작성일</span>
    </div>
    <div class="fr">
      <span th:text="${board.categoryName}">분류</span> |
      <label for="count" th:text="#{board.count}"></label> : <span th:text="${viewCnt}" id="count">조회수</span> |
      <label for="like" th:text="#{board.like}"></label>  : <span th:text="${board.postLike}" id="like">추천수</span> |
      <label for="comment_count" th:text="#{board.comments}"></label>  : <span th:text="${board.commentsSize}" id="comment_count">댓글수</span> |
      [ip] : <span th:text="${board.ipAddress}"></span>
    </div>
    <br>
    <br>
    <div class="contentContainer">
      <p th:text="${board.content}">내용</p>
      <div th:each="imageFile : ${files}" th:if="${imageFile.fileType == T(Jay.BoardP.domain.FileType).IMAGE}">
        <img
            th:src="@{/imagePath/{imageFile}(imageFile=${imageFile.storedFilename})}"
            width="200" height="200">
      </div>
      <div>
        <a th:each="imageFile : ${files}" th:if="${imageFile.fileType == T(Jay.BoardP.domain.FileType).IMAGE}"
           th:href="@{/imagePath/{imageFile}(imageFile=${imageFile.storedFilename})}"
           th:text="${imageFile.originalFilename}"
        ></a>
      </div>
      <div>
        <th:block th:each="file : ${files}" th:if="${file.fileType == T(Jay.BoardP.domain.FileType).GENERAL}">
          <a th:href="@{/filePath/{file}(file=${file.storedFilename})}"
             th:text="${file.originalFilename}">
          </a>
        </th:block>
      </div>
    </div>
    <div class="boardRecommend">
      <button id="recommend" type="button" th:onclick="|javascript:recommendBoard(${board.id})|">
        <span th:text="#{like}"></span>
      </button>
      <button id="report" type="button" th:onclick="|javascript:reportBoard(${board.id})|">신고
      </button>
    </div>
  </div>
  <section class="mb-5">
    <div class="card btn-light">
      <div class="card-body">
        <form th:action="@{/comment/{boardId}/reply (boardId=${board.id})}"
              th:object="${commentDto}"
              method="post" sec:authorize="hasAnyRole('ROLE_USER' , 'ROLE_ADMIN')" class="mb-4">
    <textarea type="text" th:field="*{content}" th:errorclass="field-error" class="form-control"
              id="reply1" name="reply1" rows="3"></textarea>
          <div class="field-error" th:errors="*{content}"/>
          <div class="card-footer" sec:authorize="hasAnyRole('ROLE_USER' , 'ROLE_ADMIN')">
            <button type="submit" class="btn btn-primary">댓글작성</button>
          </div>
        </form>
        <th:block th:each="comment:${comments}">
          <div th:if="${comment.likeNum} > 10" class="best-comment">
            <h6 th:text="${comment.nickName}"></h6>
            <div th:text="${comment.content}"></div>
            <span
                th:text="${#temporals.format(comment.createdDate , 'yyyy-MM-dd HH:mm:ss')}"></span>
            | <label for="comment_like" th:text="#{like}"></label> : <span th:text="${comment.likeNum}" id="comment_like"></span> | 싫어요 :
            <span th:text="${comment.disLikeNum}" id="comment_dislike"></span> |
            </span>
          </div>
          <div th:if="${comment.deleteStatus==T(Jay.BoardP.domain.DeleteStatus).N}">
            <br>
            <h6 th:text="${comment.nickName}"></h6>
            <span>
          <div th:text="${comment.content}"
               th:onclick="|javascript:createReCommentForm(this , ${board.id} , ${comment.id})|"></div>
          <span th:text="${#temporals.format(comment.createdDate , 'yyyy-MM-dd HH:mm:ss')}"></span>
           | 좋아요 : <span th:text="${comment.likeNum}"></span> | 싫어요 : <span
                th:text="${comment.disLikeNum}"></span> |
            <button th:if="${comment.nickName} eq ${nickName}" type="button"
                    th:onclick="|javascript:deleteCommentV2(${board.id} , ${comment.id})|">삭제
            </button>
            <button type="button"
                    th:onclick="|javascript:likeComment(${board.id} , ${comment.id})|">추천
            </button>
            <button type="button"
                    th:onclick="|javascript:disLikeComment(${board.id} , ${comment.id})|">비추천
            </button>
          </span>

            <div>
            </div>
          </div>
          <div th:if="${comment.deleteStatus ==T(Jay.BoardP.domain.DeleteStatus).Y}">
            삭제된댓글입니다.
          </div>
          <th:block th:each="recomment:${comment.child}" th:if="${comment.child != null}">
            <hr class="my-4">
            <div th:if="${recomment.deleteStatus==T(Jay.BoardP.domain.DeleteStatus).N}"
                 style="margin-left: 3%">
              <h6 th:text="${recomment.nickName}"></h6>
              <div>
                <span th:text="${comment.nickName}" class="parent-name"></span>
                <span th:text="${recomment.content}" th:onclick="|javascript:createReCommentForm(this , ${board.id} , ${recomment.id})|"></span>
              </div>
              <span
                  th:text="${#temporals.format(recomment.createdDate , 'yyyy-MM-dd HH:mm:ss')}"></span>
              | 좋아요 : <span th:text="${recomment.likeNum}"></span> | 싫어요 : <span
                th:text="${recomment.disLikeNum}"></span> |
              <button type="button" th:if="${recomment.nickName} eq ${nickName}"
                      th:onclick="|javascript:deleteCommentV2(${board.id} , ${recomment.id})|">삭제</button>
              <button type="button"
                      th:onclick="|javascript:likeComment(${board.id} , ${recomment.id})|">추천</button>
              <button type="button"
                      th:onclick="|javascript:disLikeComment(${board.id} , ${recomment.id})|">비추천</button>
            </div>
            <div th:if="${recomment.deleteStatus ==T(Jay.BoardP.domain.DeleteStatus).Y}">
              삭제된댓글입니다.
            </div>
            <hr class="my-4">
            <th:block th:each="re2comment:${recomment.child}" th:if="${recomment.child != null}">
              <div th:if="${re2comment.deleteStatus==T(Jay.BoardP.domain.DeleteStatus).N}"
                   style="margin-left: 6%">
                      <span>
                      <h6 th:text="${re2comment.nickName}"></h6>
                      <div>
                        <span th:text="${recomment.nickName}" class="parent-name"></span>
                        <span th:text="${re2comment.content}"></span>
                      </div>
                      <span
                          th:text="${#temporals.format(recomment.createdDate , 'yyyy-MM-dd HH:mm:ss')}"></span>
                        | 좋아요 : <span th:text="${re2comment.likeNum}"></span> | 싫어요 : <span
                          th:text="${re2comment.disLikeNum}"></span> |
                         <button type="button" th:if="${re2comment.nickName} eq ${nickName}"
                                 th:onclick="|javascript:deleteCommentV2(${board.id} , ${re2comment.id})|">삭제</button>
                         <button type="button"
                                 th:onclick="|javascript:likeComment(${board.id} , ${re2comment.id})|">추천</button>
                         <button type="button"
                                 th:onclick="|javascript:disLikeComment(${board.id} , ${re2comment.id})|">비추천</button>


                      </span>
              </div>
              <div th:if="${re2comment.deleteStatus ==T(Jay.BoardP.domain.DeleteStatus).Y}">
                삭제된댓글입니다.
              </div>
              <hr class="my-4">
            </th:block>
          </th:block>
        </th:block>
      </div>
    </div>
  </section>
</article>
<button th:onclick="|location.href='@{/boards/ALL/category}'|">목록으로</button>
<form method="post" th:action="@{/boards/{boardId}/delete (boardId=${board.id})}">
  <button type="submit">삭제하기</button>
</form>
<form method="get" th:action="@{/boards/{boardId}/edit (boardId=${board.id})}" th:if="${board.nickName}==${nickName}">
  <button type="submit">수정하기</button>
</form>


</body>
<script th:inline="javascript">
  let reply_btn = "";

  function createReCommentForm(element, boardId, parentId) {
    document.getElementById("replyForm")?.remove();

    if (reply_btn == element) {
      reply_btn = "";
      return;
    }
    reply_btn = element;
    let form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/comment/" + boardId + "/" + parentId + "/reply");
    form.id = "replyForm";
    let comment = document.createElement("input");
    comment.type = "text";
    comment.name = "content";
    comment.onclick = (e) => {
      e.stopPropagation();
    }
    form.appendChild(comment);
    element.appendChild(form);
    // form.submit();
  }

  // $("#report").click(
  //     ()=>{
  //       $.ajax({
  //         type: "POST",
  //         url : "/boards/"+[[${board.id}]]+"/report",
  //         success: function (data) {
  //           console.log(data);
  //         }
  //       })
  //     }
  // )

  function deleteComment(boardId, commentId) {
    $.ajax({
      type: "POST",
      url: "/comment/" + boardId + "/" + commentId + "/delete",
      success: function (data) {
        document.location.reload();
      },
    })
  };

  function deleteCommentV2(boardId, commentId) {
    let form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/comment/" + boardId + "/" + commentId + "/delete");
    document.body.appendChild(form);
    form.submit();
  };

  function likeComment(boardId, commentId) {
    let form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/comment/" + boardId + "/" + commentId + "/like");
    document.body.appendChild(form);
    form.submit();
  };

  function reportBoard(boardId) {

    let form = document.createElement("form");
    form.setAttribute("method", "get");
    form.setAttribute("action", "/boards/" + boardId + "/report");
    document.body.appendChild(form);
    form.submit();
    // $.ajax({
    //   type: "POST",
    //   url: "/boards/" + boardId + "/report",
    //   success: function (exist) {
    //     if (exist) {
    //       alert("이미 신고하였습니다.")
    //     } else {
    //       alert("신고가 완료되었습니다.")
    //     }
    //   },
    // });
  }

  function recommendBoard(boardId) {
    $.ajax({
      type: "POST",
      url: "/" + boardId + "/postLike",
      success: function (data) {
        document.location.reload();
      }
    })
  }

  // function refresh(boardId) {
  //   $.ajax({
  //     type: "GET" ,
  //     url : "/boards/"+boardId
  //   })
  // }

  // function reportBoard(boardId) {
  //   $(document).ready(function(){
  //     $.ajax({
  //       type: "POST",
  //       url: "/boards/" + boardId + "/report",
  //       success: function (data) {
  //         console.log(data);
  //       },
  //     });
  //   })
  // }

  // $(document).ready(function(){
  //   $("report").click(
  //       $.ajax({
  //         type: "POST",
  //         url: "/boards/"+[[${board.id}]]+"/report",
  //         success: function (data) {
  //           console.log(data);
  //         },
  //       })
  //   )
  // })


</script>
</html>