<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>

    .field-error {
      border-color: #e0707b;
      color: #dc3545;
    }

    .parent-name {
      color: #6c757d;
    }

    li, ul {
      list-style: none;
    }

    .boardRecommend {
      display: flex;
      justify-content: center;

    }

  </style>


  <script
      src="https://code.jquery.com/jquery-3.6.1.min.js"
      integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
      crossorigin="anonymous">
  </script>

</head>
<body>
<article>
  <div class="view-content-wrap">
    <h3 th:text="${board.title}" class="title">글제목</h3>
    <div class="fl">
      <span th:text="${board.nickName}">작성자</span>
      <span th:text="${#temporals.format(board.createDate , 'yyyy-MM-dd HH:mm:ss')}">작성일</span>
    </div>
    <div class="fr">
      <span th:text="${board.categoryName}">분류</span> |
      조회 : <span th:text="${board.countVisit}">조회수</span> |
      추천 : <span th:text="${board.postLike}">추천수</span> |
      댓글 : <span th:text="${board.commentsSize}">댓글수</span> |
      [ip] : <span th:text="${board.ipAddress}"></span>
    </div>
    <br>
    <br>
    <div class="contentContainer">
      <p th:text="${board.content}">내용</p>
      <div>
        <img th:each="imageFile : ${board.getFiles()}"
             th:src="@{/imagePath/{imageFile}(imageFile=${imageFile.storedFilename})}"
             width="200" height="200"
        >
      </div>
      <div>
        <a th:each="imageFile : ${board.getFiles()}"
           th:href="@{/imagePath/{imageFile}(imageFile=${imageFile.storedFilename})}"
           th:text="${imageFile.originalFilename}"
        ></a>
      </div>
    </div>
    <div class="boardRecommend">
      <button id="recommend" type="button" th:onclick="|javascript:recommendBoard(${board.id})|">
        추천
      </button>
      <button id="report" type="button" th:onclick="|javascript:reportBoard(${board.id})|">신고
      </button>
    </div>
  </div>

  <div class="card">
    <form th:action="@{/comment/{boardId}/reply (boardId=${board.id})}" th:object="${commentDto}"
          method="post" sec:authorize="hasAnyRole('ROLE_USER' , 'ROLE_ADMIN')">
      <div class="card-body">
    <textarea type="text" th:field="*{content}" th:errorclass="field-error" class="form-control"
              id="reply1" name="reply1" rows="1"></textarea>
      </div>
      <div class="field-error" th:errors="*{content}"/>
      <div class="card-footer">
        <button type="submit" class="btn btn-primary">댓글작성</button>
      </div>
    </form>
  </div>

  <!--  <form th:action="@{/comment/{boardId}/reply (boardId=${board.id})}" th:object="${commentDto}"-->
  <!--        method="post" sec:authorize="hasAnyRole('ROLE_USER' , 'ROLE_ADMIN')">-->
  <!--    <input type="text" th:field="*{content}" th:errorclass="field-error" class="form-control"-->
  <!--           id="reply1" name="reply1">-->
  <!--    <div class="field-error" th:errors="*{content}"/>-->
  <!--    <button type="submit">댓글작성</button>-->
  <!--    <br>-->
  <!--  </form>-->


  </div>
  <th:block th:each="comment:${board.comments}">
    <div th:if="${comment.likeNum} > 10" class="best-comment">
      <h6 th:text="${comment.nickName}"></h6>
      <div th:text="${comment.content}"></div>
      <span th:text="${#temporals.format(comment.createdDate , 'yyyy-MM-dd HH:mm:ss')}"></span>
      | 좋아요 : <span th:text="${comment.likeNum}"></span> | 싫어요 : <span
        th:text="${comment.disLikeNum}"></span> |
      </span>
    </div>
    <ul>
      <li>
        <hr class="my-4">
        <div th:if="${comment.deleteStatus==T(Jay.BoardP.domain.DeleteStatus).N}">
          <h6 th:text="${comment.nickName}"></h6>
          <span th:onclick="|javascript:createReCommentForm(this , ${board.id} , ${comment.id})|">
<!--          <h6 th:text="${comment.nickName}"></h6>-->
          <div th:text="${comment.content}"></div>
          <span th:text="${#temporals.format(comment.createdDate , 'yyyy-MM-dd HH:mm:ss')}"></span>
           | 좋아요 : <span th:text="${comment.likeNum}"></span> | 싫어요 : <span
              th:text="${comment.disLikeNum}"></span> |
          </span>
          <div th:if="${comment.nickName} eq ${nickName}">
            <!--            <form-->
            <!--                th:action="@{/comment/{boardId}/{commentId}/delete (commentId=${comment.id} , boardId=${board.id})}"-->
            <!--                method="post">-->
            <button type="button"
                    th:onclick="|javascript:deleteCommentV2(${board.id} , ${comment.id})|">삭제
            </button>

            <!--            </form>-->
          </div>

          <div>
            <button type="button"
                    th:onclick="|javascript:likeComment(${board.id} , ${comment.id})|">추천
            </button>
            <button type="button"
                    th:onclick="|javascript:disLikeComment(${board.id} , ${comment.id})|">비추천
            </button>
          </div>
          <!--          <th:block th:if="${comment.nickName} eq ${nickName}">-->
          <!--            &lt;!&ndash;            <form&ndash;&gt;-->
          <!--            &lt;!&ndash;                th:action="@{/comment/{boardId}/{commentId}/delete (commentId=${comment.id} , boardId=${board.id})}"&ndash;&gt;-->
          <!--            &lt;!&ndash;                method="post">&ndash;&gt;-->
          <!--            <button type="button" th:onclick="|javascript:deleteComment(${board.id} , ${comment.id})|">삭제</button>-->
          <!--            &lt;!&ndash;            </form>&ndash;&gt;-->
          <!--          </th:block>-->
        </div>
        <div th:if="${comment.deleteStatus ==T(Jay.BoardP.domain.DeleteStatus).Y}">
          삭제된댓글입니다.
        </div>
        <hr class="my-4">
        <th:block th:each="recomment:${comment.child}" th:if="${comment.child != null}">
          <ul>
            <li>
              <hr class="my-4">
              <div th:if="${recomment.deleteStatus==T(Jay.BoardP.domain.DeleteStatus).N}">
                <h6 th:text="${recomment.nickName}"></h6>
                <span
                    th:onclick="|javascript:createReCommentForm(this , ${board.id} , ${recomment.id})|">
                <div>
                  <span th:text="${comment.nickName}" class="parent-name"></span>
                  <span th:text="${recomment.content}"></span>
                </div>
                <span
                    th:text="${#temporals.format(recomment.createdDate , 'yyyy-MM-dd HH:mm:ss')}"></span>
                  | 좋아요 : <span th:text="${recomment.likeNum}"></span> | 싫어요 : <span
                    th:text="${recomment.disLikeNum}"></span> |

                </span>
                <div th:if="${recomment.nickName} eq ${nickName}">
                  <!--            <form-->
                  <!--                th:action="@{/comment/{boardId}/{commentId}/delete (commentId=${comment.id} , boardId=${board.id})}"-->
                  <!--                method="post">-->
                  <button type="button"
                          th:onclick="|javascript:deleteCommentV2(${board.id} , ${recomment.id})|">
                    삭제
                  </button>

                  <!--            </form>-->
                </div>
                <div>
                  <button type="button"
                          th:onclick="|javascript:likeComment(${board.id} , ${recomment.id})|">추천
                  </button>
                  <button type="button"
                          th:onclick="|javascript:disLikeComment(${board.id} , ${recomment.id})|">
                    비추천
                  </button>
                </div>

                <!--                <span>-->
                <!--                  <th:block th:if="${recomment.nickName} eq ${nickName}">-->
                <!--                  <form-->
                <!--                      th:action="@{/comment/{boardId}/{commentId}/delete (commentId=${recomment.id} , boardId=${board.id})}"-->
                <!--                      method="post">-->
                <!--                  <button type="submit">삭제</button>-->
                <!--                </form>-->
                <!--                  </th:block>-->
                <!--                </span>-->
              </div>
              <div th:if="${recomment.deleteStatus ==T(Jay.BoardP.domain.DeleteStatus).Y}">
                삭제된댓글입니다.
              </div>
              <hr class="my-4">
              <th:block th:each="re2comment:${recomment.child}" th:if="${recomment.child != null}">
                <ul>
                  <li>
                    <hr class="my-4">
                    <div th:if="${re2comment.deleteStatus==T(Jay.BoardP.domain.DeleteStatus).N}">
                      <span>
                      <h6 th:text="${re2comment.nickName}"></h6>
                      <div>
                        <span th:text="${recomment.nickName}" class="parent-name"></span>
                        <span th:text="${re2comment.content}"></span>
                      </div>
                      <span
                          th:text="${#temporals.format(recomment.createdDate , 'yyyy-MM-dd HH:mm:ss')}"></span>
                        | 좋아요 : <span th:text="${re2comment.likeNum}"></span> | 싫어요 : <span
                          th:text="${re2comment.disLikeNum}"></span> |


                      </span>
                      <div th:if="${re2comment.nickName} eq ${nickName}">
                        <!--            <form-->
                        <!--                th:action="@{/comment/{boardId}/{commentId}/delete (commentId=${comment.id} , boardId=${board.id})}"-->
                        <!--                method="post">-->
                        <button type="button"
                                th:onclick="|javascript:deleteCommentV2(${board.id} , ${re2comment.id})|">
                          삭제
                        </button>
                      </div>

                      <div>
                        <button type="button"
                                th:onclick="|javascript:likeComment(${board.id} , ${re2comment.id})|">
                          추천
                        </button>
                        <button type="button"
                                th:onclick="|javascript:disLikeComment(${board.id} , ${re2comment.id})|">
                          비추천
                        </button>
                      </div>

                      <!--            </form>-->
                    </div>


                    <!--                      <th:block th:if="${re2comment.nickName} eq ${nickName}">-->
                    <!--                        <form-->
                    <!--                            th:action="@{/comment/{boardId}/{commentId}/delete (commentId=${re2comment.id} , boardId=${board.id})}"-->
                    <!--                            method="post">-->
                    <!--                          <button type="submit">삭제</button>-->
                    <!--                        </form>-->
                    <!--                        <th:block th:if="${re2comment.nickName} eq ${nickName}">-->
                    </div>
                    <div th:if="${re2comment.deleteStatus ==T(Jay.BoardP.domain.DeleteStatus).Y}">
                      삭제된댓글입니다.
                    </div>
                    <hr class="my-4">
                  </li>
                </ul>
              </th:block>
            </li>
          </ul>
        </th:block>
      </li>
    </ul>
  </th:block>
</article>
<button th:onclick="|location.href='@{/boards/ALL/category}'|">목록으로</button>
<form method="post" th:action="@{/boards/{boardId}/delete (boardId=${board.id})}">
  <button type="submit">삭제하기</button>
</form>
<form method="get" th:action="@{/boards/{boardId}/edit (boardId=${board.id})}">
  <button type="submit">수정하기</button>
</form>


</body>
<script th:inline="javascript">
  let reply_btn = "";

  function createReCommentForm(element, boardId, parentId) {
    document.getElementById("replyForm")?.remove();

    if (reply_btn == element) {
      reply_btn = "";
      return;
    }
    reply_btn = element;
    let form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/comment/" + boardId + "/" + parentId + "/reply");
    form.id = "replyForm";
    let comment = document.createElement("input");
    comment.type = "text";
    comment.name = "content";
    comment.onclick = (e) => {
      e.stopPropagation();
    }
    form.appendChild(comment);
    element.appendChild(form);
    // form.submit();
  }

  // $("#report").click(
  //     ()=>{
  //       $.ajax({
  //         type: "POST",
  //         url : "/boards/"+[[${board.id}]]+"/report",
  //         success: function (data) {
  //           console.log(data);
  //         }
  //       })
  //     }
  // )

  function deleteComment(boardId, commentId) {
    $.ajax({
      type: "POST",
      url: "/comment/" + boardId + "/" + commentId + "/delete",
      success: function (data) {
        document.location.reload();
      },
    })
  };

  function deleteCommentV2(boardId, commentId) {
    let form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/comment/" + boardId + "/" + commentId + "/delete");
    document.body.appendChild(form);
    form.submit();
  };

  function likeComment(boardId, commentId) {
    let form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "/comment/" + boardId + "/" + commentId + "/like");
    document.body.appendChild(form);
    form.submit();
  };

  function reportBoard(boardId) {

    let form = document.createElement("form");
    form.setAttribute("method", "get");
    form.setAttribute("action", "/boards/" + boardId + "/report");
    document.body.appendChild(form);
    form.submit();
    // $.ajax({
    //   type: "POST",
    //   url: "/boards/" + boardId + "/report",
    //   success: function (exist) {
    //     if (exist) {
    //       alert("이미 신고하였습니다.")
    //     } else {
    //       alert("신고가 완료되었습니다.")
    //     }
    //   },
    // });
  }

  function recommendBoard(boardId) {
    $.ajax({
      type: "POST",
      url: "/" + boardId + "/postLike",
      success: function (data) {
        document.location.reload();
      }
    })
  }

  // function refresh(boardId) {
  //   $.ajax({
  //     type: "GET" ,
  //     url : "/boards/"+boardId
  //   })
  // }

  // function reportBoard(boardId) {
  //   $(document).ready(function(){
  //     $.ajax({
  //       type: "POST",
  //       url: "/boards/" + boardId + "/report",
  //       success: function (data) {
  //         console.log(data);
  //       },
  //     });
  //   })
  // }

  // $(document).ready(function(){
  //   $("report").click(
  //       $.ajax({
  //         type: "POST",
  //         url: "/boards/"+[[${board.id}]]+"/report",
  //         success: function (data) {
  //           console.log(data);
  //         },
  //       })
  //   )
  // })


</script>
</html>