<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <style>
    .field-error {
      border-color: #e0707b;
      color: #dc3545;
    }


  </style>
</head>
<body>

<form method="post" th:action="" th:object="${resetForm}">
  <input type="text" th:field="*{code}" th:errorclass="field-error" >
  <div th:errors="*{code}" class="field-error"></div>
  <input type="text" th:field="*{editPassword}">
  <div th:errors="*{editPassword}" class="field-error"></div>
  <input type="text" th:field="*{checkEditPassword}">
  <div th:errors="*{checkEditPassword}" class="field-error"></div>
  <button type="submit">변경하기</button>
</form>

</body>
</html>